/*******************************************************************************
Slate Theme for GitHub Pages
by Jason Costello, @jsncostello
*******************************************************************************/
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(http://fonts.googleapis.com/css?family=Hanalei+Fill);
@import url(http://fonts.googleapis.com/css?family=Creepster);
@import url(pygment_trac.css);
@import url(http://fonts.googleapis.com/css?family=Share+Tech);

/*******************************************************************************
MeyerWeb Reset
*******************************************************************************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*******************************************************************************
Theme Styles
*******************************************************************************/



@import url(http://fonts.googleapis.com/css?family=Share+Tech);

body {
    margin-left: 10%;
    margin-right: 10%;
}

    h1,h2,h3,h4,h5,h6 {
    text-align: center; /* all headings centered */
    clear: both;
}

h1 {
  font-size: 90px;
  font-family: "Creepster";
}

h2 {
  font-size: 32px;
  font-family: "Hanalei Fill";
}
  
p {
    margin-top: .75em;
    text-align: justify;
    margin-bottom: .75em;
}

p.citation  {text-align: right;}

hr {
    width: 33%;
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: auto;
    margin-right: auto;
    clear: both;
}

table {
    margin-left: auto;
    margin-right: auto;
}

.pagenum { /* uncomment the next line for invisible page numbers */
    /*  visibility: hidden;  */
    position: absolute;
    left: 91%;
    margin-right: 1em;
    font-size: 6px;
    text-align: left;
    font-family: nanumgothic;
} /* page numbers */


.center   {text-align: center;}

.smcap    {font-variant: small-caps;}

/* Images */
.figcenter   {
    margin: auto;
    text-align: center;
}

.figleft {
    float: left;
    clear: left;
    margin-left: 0;
    margin-bottom: 0em;
    margin-top: 0em;
    margin-right: 0.3em;
    padding: 0;
    text-align: center;
    width: auto;
}

/* Transcriber's Note and Corrections */

       .tnote { border: dashed 1px;
                 padding: 1em;
                 margin-top: 3em;
                 margin-right: 0%;
                 margin-bottom: 3em;
                 margin-left: 0%;
                 page-break-after: always; }

      .tnote p { text-indent: 0em; margin-left: 2em; margin-top: .5em; font-size: 90%; }

      .tnote h3 { text-indent: 0em; margin-left: 0em; text-align: left; font-size: 100%;
                    font-style: normal; font-weight: bold; }

    hr.full { width: 100%;
              margin-top: 3em;
              margin-bottom: 0em;
              margin-left: auto;
              margin-right: auto;
              height: 4px;
              border-width: 3px 0 0 0; /* remove all borders except the top one */
              border-style: solid;
              border-color: #000000;
              clear: both; }
    pre      {font-size: 85%;}